<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <h1>My Favourite Albums</h1>
        <ol>
            <li><a href="album/1">The Holy Bible - Manic Street Preachers</a> </li>
            <li><a href="album/2">Pinkerton - Weezer</a> </li>
            <li><a href="album/3">OK Computer - Radiohead</a> </li>
            <li><a href="album/4">Grace - Jeff Buckley</a> </li>
            <li><a href="album/5">The Queen Is Dead - The Smiths</a> </li>
            <li><a href="album/6">Doolittle - Pixies</a> </li>
        </ol>
    </div>
</div>